@use "../fonts"as *;
@use "../mixins"as *;

.about {
  padding-top: 8em;
  padding-bottom: 5em;

  .containerM {
    .aboutContent {
      .top {
        grid-template-columns: 35em 30em;
        gap: 6em;
        place-content: center;

        @include responsive(bmd) {
          grid-template-columns: 1fr 1fr;
          gap: 2em;
        }
        @include responsive(xs) {
          gap: 1em;
          margin-top: 3em;
        }

        .left {
          .details {
            h2 {
              font-family: "bold";
              font-size: 1.2em;

              @include responsive(xl) {
                font-size: 2em;
              }
            }

            h3 {
              font-family: "exbold";
              font-size: 1.75em;

              @include responsive(xl) {
                font-size: 3.5em;
                font-weight: 900;
              }
            }
          }

          p {
            font-family: "medium";
            font-size: 1.75em;
            padding-top: 0.8em;
            padding-bottom: 0.3em;
            line-height: 1.3;

            @include responsive(xl) {
              font-size: 1.5em;
            }
                @include responsive(xs) {
                  font-size: 1.5em;
                  text-align: center;
                }

            @include responsive(bmd) {
              font-size: 1.3em;
            }
          }
        }

        .right {
          background-image: url("~/assets/images/watering.webp");
          background-size: cover;
          border-radius: 30px;
          background-position: center;

          @include responsive(xs) {
            width: 100%;
            height: 60vh;
          }

          .details {
                           @include responsive(xs) {
                            margin-top: -5em;
                            margin-bottom: 3em;
                           }

            h2 {
              font-family: "bold";
              font-size: 1.2em;

              @include responsive(xl) {
                font-size: 2em;
              }

              @include responsive(xs) {
                text-align: center;
              }

            }

            h3 {
              font-family: "exbold";
              font-size: 1.75em;

              @include responsive(xl) {
                font-size: 3.5em;
                font-weight: 900;
              }

              @include responsive(xs) {
                text-align: center;
              }

            }
          }
        }
      }

      .last {
        .bottom {
          grid-template-columns: 35em 1fr;
          gap: 2em;
          margin-top: 5em;

          @include responsive(xl) {
            grid-template-columns: 35em 1fr;
          }

          @include responsive(xxl) {
            grid-template-columns: 35em 1fr;
          }

          @include responsive(lg) {
            grid-template-columns: 35em 35em;
          }

          @include responsive(bmd) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
          }

          @include responsive(xs) {
            grid-template-columns: 1fr;
          }

          .right {
            background-image: url("~/assets/images/overhead.webp");
            background-size: cover;
            border-radius: 30px;
            background-position: center;

            @include responsive(xs) {
              width: 100%;
              height: 50vh;
              margin-top: 3em;
            }
              h3 {
                font-family: "exbold";
                font-size: 1.75em;

                @include responsive(xl) {
                  font-size: 3.5em;
                  font-weight: 900;
                }
                @include responsive(xs) {
                  font-size: 2em;
                  font-weight: 900;
                  text-align: center;
                  margin-top: -2.5em;
                }
              }
          }

          .left {
            h3 {
              font-family: "exbold";
              font-size: 1.75em;

              @include responsive(xl) {
                font-size: 3.5em;
                font-weight: 900;
              }
            }

            p {
              font-family: "medium";
              font-size: 1.75em;
              padding-top: 0.8em;
              // padding-bottom: 0.3em;
              line-height: 1.3;

              @include responsive(xl) {
                font-size: 1.5em;
              }
              @include responsive(xs) {
                font-size: 1.3em;
                text-align: center;
              }

              @include responsive(bmd) {
                font-size: 1.3em;
                // line-height: 1.5;
              }
            }
          }
        }

        .plast {
          font-family: "medium";
          font-size: 1.75em;
          line-height: 1.3;

          @include responsive(xl) {
            font-size: 1.5em;
          }
          @include responsive(xs) {
            font-size: 1.3em;
            text-align: center;
          }

          @include responsive(bmd) {
            font-size: 1.3em;
          }
        }
      }
    }

    .goalsObjectives {
      h3 {
        font-family: "bold";
        font-size: 1.2em;

        @include responsive(xl) {
          font-size: 2em;
        }

        @include responsive(cm) {
          font-size: 1.2em;
        }
      }

      h2 {
        font-family: "exbold";
        font-size: 1em;
        padding-bottom: 1em;

        @include responsive(xl) {
          font-size: 2.5em;
          font-weight: 900;
        }

        @include responsive(cm) {
          font-size: 1.5em;
        }
      }

      .Achieves {
        grid-template-columns: 1fr 25em;

        @include responsive(bmd) {
          grid-template-columns: 1fr 1fr;
          place-items: center;
          grid-template-rows: auto;
        }

        @include responsive(xl) {
          grid-template-columns: 1fr 25em;
        }

        gap: 2.5em;

        .left {
          grid-template-columns: 1fr 1fr;
          gap: 2em;

          @include responsive(bmd) {
            grid-template-columns: 1fr;
          }

          @include responsive(xs) {
            grid-template-columns: 1fr;
          }
        }

        .mid {
          height: 520px;
          margin-top: -2em;

          @include responsive(cm) {
            height: fit-content;
            margin-top: 0;
          }
        }
      }
    }

    .customerReviews,
    .growingFast {
      h1 {
        font-family: "exbold";
        font-size: 2.5em;
      }

      p {
        font-family: "regular";
        font-size: 1.2em;
      }
    }

    .customerReviews {
      margin-block: 3em;

      h2 {
        font-family: "sbold";
        font-size: 1.5em;
        @include responsive(xs){
          font-size: 1em;
        }
      }
    }

    .growingFast {
      padding-top: 7em;
    }
  }
}