@use "../fonts/" as *;
@use "../mixins/" as *;
.services {
  padding-block: 9em;
  .holder {
    h1 {
      font-family: "exbold";
      font-size: 3em;
      padding-bottom: 1em;
    }
    .serviceCardHolder {
      @include responsive(bdm) {
        grid-template-columns: 1fr;
      }
      .card {
        padding: 2em;
        grid-template-rows: auto;

        img {
        }

        h2 {
          font-family: "sbold";
          font-size: 1.5em;

          @include responsive(bmd) {
            font-size: 2em;
          }
        }

        p {
          font-family: "regular";
          font-size: 1.2em;

          @include responsive(bmd) {
            font-size: 1.5em;
          }
        }
      }
    }
  }
}
