@use "../fonts/" as *;
@use "../mixins/" as *;

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  font-size: 1rem;
}
.containerM {
  width: min(100%, 1440px);
  margin-inline: auto;
  @include responsive(xs) {
    padding-inline: 1em;
  }

  @include responsive(sm) {
    padding-inline: 2em;
  }
  @include responsive(bmd) {
    padding-inline: 2em;
  }
  @include responsive(lg) {
    padding-inline: 2em;
  }
  @include responsive(xl) {
    padding-inline: 2em;
  }
}
body {
  &.active {
    overflow: hidden;
  }
}
